# IMPORTANT: Add this to your backend/.env file

SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
DATABASE_URL=postgresql://neondb_owner:npg_1vCaQbPAeR9w@ep-weathered-smoke-a4j9f83e-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
